body {
  background-color: #1e1e1e !important;
}

.content {
  height: 100vh;
}

.quiz-container {
  min-width: 700px;
  min-height: 300px;
}

.form-check {
  min-width: 700px;
  min-height: 300px;
}

.quiz-question-row {
  min-width: 350px;
}

.question {
  min-height: 125px;
  min-width: 500;
}

.btn {
  min-width: 215px;
  min-height: 55px;
}

.text-question {
  max-width: 600px !important;
}

.hidden {
  display: none !important;
}
