body {
  background-color: #1e1e1e !important;
}

.content {
  height: 100vh;
}

.quiz-content {
  min-width: 80%;
}

.form-check {
  min-height: 300px;
}

.quiz-questions {
  min-width: 80% !important;
}

.quiz-question-row {
  min-width: 80%;
}

.question {
  min-height: 125px;
  min-width: 500;
}

.btn {
  min-width: 215px;
  min-height: 55px;
}

.text-question {
  max-width: 600px !important;
}

.question-text {
  min-height: 125px;
}

.hidden {
  display: none !important;
}
