body {
  background-color: #1e1e1e !important;
}

.content {
  height: 100vh;
}

.quiz-content {
  min-width: 95%;
}

.form-check {
  min-height: 300px;
}

.quiz-container {
  min-width: 90%;
}

.quiz-questions {
  min-width: 80% !important;
}

.quiz-question-row {
  min-width: 50%;
}

.question {
  min-height: 125px;
}

.btn {
  min-width: 215px;
  min-height: 55px;
}

.question-text {
  min-height: 125px;
}

.hidden {
  display: none !important;
}

.question-card {
  min-width: 95%;
}
