.content {
  min-height: 100vh;
}

.simon-container {
  min-height: 70vh;
  width: 95%;
}

.simon-btn {
  min-width: 49.5% !important;
  min-height: 19vh !important;
}

.btn-row {
  min-height: 20vh;
  min-width: 97%;
}

.btn-simon-group {
  min-width: 98% !important;
}

.pressed {
  opacity: 0.4 !important;
}

.hidden {
  display: none;
}

.play-again-btn {
  width: 225px !important;
}

.message.correct {
  color: #388e3c; /* Verde */
}

.message.wrong {
  color: #dc3545; /* Rojo */
}
