.content {
  min-height: 100vh;
}

.simon-container {
  min-height: 70vh;
  width: 490px;
}

.simon-btn {
  min-width: 45% !important;
  height: 19vh !important;
  transition: 0s 0.4s !important;
}

.simon-btn:active {
  opacity: 0.4 !important;
  transition: 0s !important;
}

#green:hover {
  background-color: #198754 !important;
}

#red:hover {
  background-color: #dc3545 !important;
}

#blue:hover {
  background-color: #0d6efd !important;
}

#yellow:hover {
  background-color: #ffc107 !important;
}

.btn-row {
  height: 20vh;
  gap: 4px;
}

.btn-simon-group {
  min-width: 98% !important;
}

.pressed {
  opacity: 0.4 !important;
}

.hidden {
  display: none !important;
}

.play-again-btn {
  width: 225px !important;
}

.message.correct {
  color: #388e3c; /* Verde */
}

.message.wrong {
  color: #dc3545; /* Rojo */
}
