body {
  background-color: #272524 !important;
}

.content {
  height: 100vh;
}

.tittle-container {
  height: 12vh;
}

.quiz-content {
  width: 96%;
  height: 78vh;
  background: #2f2d2c;
}

.form-check {
  min-height: 300px;
}

.quiz-container {
  min-width: 90%;
}

.quiz-questions {
  min-width: 80% !important;
}

.quiz-question-row {
  min-width: 50%;
}

.question {
  height: 22vh;
}

.btn {
  min-width: 215px;
  min-height: 55px;
}

.question-text {
  min-height: 125px;
}

.hidden {
  display: none !important;
}

.question-card {
  min-width: 95%;
}
