.content {
  height: 100vh;
}

.calculator-content {
  min-width: 19%;
  background-color: #272524;
}

.btn-dark {
  background-color: #3c3c3c !important;
  height: 75px !important;
  width: 75px !important;
}

.btn-dark:hover {
  background-color: rgba(60, 60, 60, 0.6) !important;
}

.btn {
  height: 75px !important;
  width: 75px !important;
}

.delete {
  background-color: rgb(255, 126, 0) !important;
}

.delete:hover {
  background-color: rgba(255, 126, 0, 0.6) !important;
}

.operation {
  background-color: rgba(60, 60, 60, 0.4) !important;
}

.operation:hover {
  background-color: rgba(60, 60, 60, 0.2) !important;
}

.result {
  background-color: #2f2d2c;
}
